@import url('https://api.fontshare.com/v2/css?f[]=general-sans@200,300,400,500,600,700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #F4F4F6;
  --color-primary: #FF4C34;
  --color-dark: #141414;
  --color-card: #FFFFFF;
  --color-bg-badge: #FFF1E2;
  --color-text-badge: #FE6149;
  --color-text-title: #3B3B3B;
}

body {
  margin: 0;
  font-family:
    "General Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-dark);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
